@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'variables';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   background-color: $dark-bg;
   color: $txt-light;
   font-size: $default-size;

   a {
      color: $txt-light;
      text-decoration: none;
      cursor: pointer;
      font-family: inherit;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         width: 100%;
         height: 1px;
         border-radius: 4px;
         background-color: #ffffff;
         bottom: 0;
         left: 0;
         transform-origin: right;
         transform: scaleX(0);
         transition: transform 0.3s ease-in-out;
      }

      &:hover::before {
         transform-origin: left;
         transform: scaleX(1);
      }
   }

   ul,
   li,
   ol {
      list-style: none;
   }

   button {
      font-family: inherit;
   }
}

.container {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 16px;
}

// paddings
.p--16 {
   padding: 16px;
}
.p--24 {
   padding: 24px;
}
.p--32 {
   padding: 32px;
}
.p--64 {
   padding: 64px;
}

.pt--16 {
   padding-top: 16px;
}
.pt--24 {
   padding-top: 24px;
}
.pt--32 {
   padding-top: 32px;
}
.pt--64 {
   padding-top: 64px;
}

.pb--16 {
   padding-bottom: 16px;
}
.pb--24 {
   padding-bottom: 24px;
}
.pb--32 {
   padding-bottom: 32px;
}
.pb--64 {
   padding-bottom: 64px;
}

.pl--16 {
   padding-left: 16px;
}
.pl--24 {
   padding-left: 24px;
}
.pl--32 {
   padding-left: 32px;
}
.pl--64 {
   padding-left: 64px;
}

.pr--16 {
   padding-right: 16px;
}
.pr--24 {
   padding-right: 24px;
}
.pr--32 {
   padding-right: 32px;
}
.pr--64 {
   padding-right: 64px;
}

// margins
.m--16 {
   margin: 16px;
}
.m--24 {
   margin: 24px;
}
.m--32 {
   margin: 32px;
}
.m--64 {
   margin: 64px;
}

.mt--16 {
   margin-top: 16px;
}
.mt--24 {
   margin-top: 24px;
}
.mt--32 {
   margin-top: 32px;
}
.mt--64 {
   margin-top: 64px;
}

.mb--16 {
   margin-bottom: 16px;
}
.mb--24 {
   margin-bottom: 24px;
}
.mb--32 {
   margin-bottom: 32px;
}
.mb--64 {
   margin-bottom: 64px;
}

.ml--16 {
   margin-left: 16px;
}
.ml--24 {
   margin-left: 24px;
}
.ml--32 {
   margin-left: 32px;
}
.ml--64 {
   margin-left: 64px;
}

.mr--16 {
   margin-right: 16px;
}
.mr--24 {
   margin-right: 24px;
}
.mr--32 {
   margin-right: 32px;
}
.mr--64 {
   margin-right: 64px;
}

.para--32 {
   font-size: 32px;
   line-height: 42px;
}

.para--24 {
   font-size: 24px;
   line-height: 35px;
}

.flex {
   display: flex;
}

.align--center {
   align-items: center;
}
