@import 'variables';

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   .header__left {
      display: flex;
      align-items: center;
      gap: 24px;

      .logo-wrapper {
         &::before {
            transform: none;
            height: 0px;
            background-color: transparent;
         }

         &:hover::before {
            transform: none;
         }
      }

      .header-logo {
         width: 45px;
         height: auto;
         cursor: pointer;
      }

      li {
         display: flex;
         gap: 16px;
      }

      svg {
         display: inline-block;
         overflow: visible !important;
         vertical-align: text-bottom;
         fill: #fff;
         cursor: pointer;
      }
   }

   .header__right {
      display: flex;
      gap: 16px;

      button {
         background: none;
         outline: none;
         border: 2px solid #fff;
         min-height: 34px;
         min-width: 70px;
         color: $txt-light;
         cursor: pointer;
         border-radius: 16px;
         padding: 0 16px;
         font-size: 16px;

         &:first-of-type {
            border: none;
            padding: 0;
         }
      }
   }
}
