@import 'variables';

.linear--line {
   background: linear-gradient(#d2a8ff, #a371f7 10%, #196c2e 70%, #2ea043 80%, #56d364);
}

.linear--green {
   fill: $primary-green;
}

.hero {
   background: url('../images/hero-bg.webp');
   background-position: 82% 0%;
   background-size: initial;
}

.hero__heading {
   transform: translate(-40%, 30%);

   h1 {
      font-size: 80px;
      line-height: 80px;
      background: linear-gradient(187deg, #7ee787 0%, #543c82 100%);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
}
